* {
    background-color: rgb(61, 61, 61);
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    text-align: center;
    font-size: 80px;
    background-color: rgb(29, 29, 29);
    height: 150px;
    margin: 0px;
    padding: 30px;
}